<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>RacketShot - Magazin tenis</title>
        <meta name="description" content="RacketShot este un site cu produse de calitate la pret atractiv.">
        <meta name="keywords"
            content="tenis, racheta, magazin, magazin tenis, magazin tenis RacketShot, mingi, sport, imbracaminte tenis, adidasi tenis, genți, grip, racordaj, produse">
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>