<section class="sectiune-galerie" id="galerie">
    <div id="container-reflexie">
    <div id="text-reflexie">
        Galerie produse
        <div id="text-reflectat">
            Galerie produse
        </div>
    </div>
</div>
    <p class="info-galerie">Produsele afișate sunt selectate automat pentru perioada: <strong><%- locals.timpCurent %></strong>.</p>

    <div id="grid-galerie">
        <% for (let imag of locals.imagini) { %>
            <figure class="fig-galerie">
                <picture>
                    <source srcset="<%- imag.cale_relativa_mic %>" media="screen and (max-width:700px)">
                    <source srcset="<%- imag.cale_relativa_mediu %>" media="screen and (max-width:1100px)">
                    <img src="<%- imag.cale_relativa %>" alt="<%- imag.alt || imag.nume %>" title="<%- imag.descriere %>" id="gal">
                </picture>
                <figcaption><%- imag.descriere %></figcaption>
            </figure>
        <% } %>
    </div>
</section>